#root {
  max-width: 100 vw;
  margin: 0 auto;
  /* text-align: center; */
  min-height: 100vh;
  background-color: #EDDCD9;
}

nav {
  width: 100vw;
  background-color: #E99F4C;
  opacity: 70%;
  border-bottom: #DE5499 solid 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

form {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: #EDDCD9;
  border: 2px solid #264143;
  border-radius: 20px;
  box-shadow: 3px 4px 0px 1px #E99F4C !important;
  padding: 50px;
}

.welcome-font {
  font-size: 6em !important;
  font-family: "Playfair Display", serif;
  font-weight: 900 !important;
  font-style: normal;
  text-align: left;
}

.home-text {
  font-size: 1.3rem !important;
  text-align: left !important;
  font-family: Georgia, Times, Times New Roman, serif;
}

/* .welcome-container {
  align-items: center;
} */

.heading-font {
  font-family: "Playfair Display", serif;
  font-size: 4rem !important;
  width: 50%;
  text-align: center;
}
.card-button {
  font-size: 15px;
  background: #DE5499 !important;
  border-radius: 10px;
  font-weight: 800;
  box-shadow: 3px 3px 0px 0px #E99F4C !important;
  border: black !important;
  margin: 10px;
}
.project-card {
  outline: none;
  border: 2px solid #264143 !important;
  box-shadow: 3px 4px 0px 1px #E99F4C !important;
  width: 290px;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
  background-color: #EDDCD9 !important;
}


.form_style {
  outline: none;
  border: 2px solid #264143 !important;
  box-shadow: 3px 4px 0px 1px #E99F4C !important;
  width: 290px;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
}

.page-button {
  padding: 15px;
  margin: 25px 0px;
  width: 290px;
  font-size: 15px;
  background: #DE5499 !important;
  border-radius: 10px;
  font-weight: 800;
  box-shadow: 3px 3px 0px 0px #E99F4C !important;
  border: black !important;
}

.btn:hover {
  opacity: .9;
}

